Cython==0.23.4
dogpile==0.2.2
dogpile.cache==0.5.7
dogpile.core==0.4.1
Flask==0.11.1
Flask-Login==0.3.2
flask-restplus==0.8.5
Flask-RESTful==0.3.5
Flask-Security==1.7.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
influxdb==2.10.0
jsonschema==2.5.1
msgpack-python==0.4.6
redis==2.10.5
slacker==0.8.6
SQLAlchemy==1.0.10
SQLAlchemy-Defaults==0.4.4
ujson==1.35
Werkzeug==0.11.2
WTForms-Alchemy==0.13.3
WTForms-Components==0.9.8
